html
  head
    title Member
  header 

    if currentUser
      form(action="/logout" method="Post")
        button Log out
      form(action="/create-post" method="get")
        button Create Post
      if !currentUser.membership_status
        form(action="/join-club" method="get")
          button Join the Club
      else 
  
        p Welcome to the club.
      if !currentUser.admin
        form(action="/become-admin" method="get")
          button Become an admin
      else 
        p You are an admin
        
    else 
      form(action="/sign-up" method="Get")
          button Create account
      form(action="/login" method="Get")
          button Login
  body
    block content
